<!DOCTYPE html>
<html ng-app='League'>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src = 'http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
  </head>
  <body>

    <div ui-view></div>
    <script src='/javascripts/ui-router.js'></script>

    <script src='/javascripts/index.js'>  </script>
    <script src='/javascripts/controllers/AddController.js'></script>
    <script src='/javascripts/controllers/HomeController.js'> </script>
    <script src='/javascripts/controllers/AdminController.js'></script>
  </body>
</html>
